/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: 'socialgothic';
	src: url('/fonts/Social-Gothic-DemiBold.woff') format('woff');
}

@font-face {
	font-family: 'capraiaitalic';
	src: url('/fonts/capraiaitalic.woff') format('woff');
}

/****************/
/*    MOBILE    */
/****************/


img {
	max-width: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 4.95em;
}

header {
	background-color: black;
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

header img {
	margin-top: 0.6em;
	margin-left: 0.9em;
	max-width: 11.5em;
}

header p {
	margin-left: 1.1em;
	font-size: 78%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 0.5em
}

header section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header section h1 {
	font-size: 78%;
	display: flex;
	margin-right: 1.1em;
	margin-bottom: 0.5em;
}

.hometext {
	background-color: #ff989d;
	padding-bottom: 0;
	margin-bottom: -5em;
}

.hometext p {
	font-size: 130%;
	margin-left: 0.6em;
	margin-right: 1em;
	margin-bottom: 0;
}

.hometext p:nth-of-type(2) {
	padding-bottom: 3em;
}

.homestart {
	display: grid;
	grid-template-columns: 1.5em 2em 1em 1fr 1em 2em 1.5em;
	grid-template-rows: 8em 7em 1.5em 1.7em 5em 8em;
	margin: 0;
	width: 100%;
	height: 200%;
}

.homestart img {
	grid-column-start: 1;
	grid-column-end: 8;
	object-fit: cover;
	height: 32em;
	z-index: -1;
}

.homestart h2 {
	font-size: 250%;
	text-align: center;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	color: white;
	line-height: 1em;
	margin-top: 0;
}

.homestart a {
	text-align: center;
	background-color: black;
	color: white;
	padding-left: 2.7em;
	padding-right: 2.7em;
	padding-top: 1.2em;
	font-weight: bold;
	font-size: 110%;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
}

.homestart img:nth-of-type(2) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	max-height: 0.8em;
}

.homestart img:nth-of-type(3) {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	max-height: 0.8em;
}

a {
	text-decoration: none;
}

iframe {
	margin: 1em;
	min-height: 13.5em;
	width: 92%;
}

footer {
	background-color: black;
	margin-top: 0;
	display: flex;
	flex-direction: column;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer img {
	max-width: 40%;
	display: flex;
	align-self: center;
}

footer a {
	color: white;
	text-align: center;
}

time {
	font-family: 'capraiaitalic', serif;
	color: black;
}

li {
	list-style-type: none;
}

h2 {
	font-family: 'socialgothic', sans-serif;
}

h1 {
	font-family: 'capraiaitalic', serif;
}

h3 {
	font-family: 'capraiaitalic', serif;
	font-size: 150%;
	margin-left: 5%;
}

p {
	font-family: 'capraiaitalic', serif;
	margin-bottom: 2em;
	padding-top: 1em;
	margin-top: 0;
}

.newshome a {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 2.3em;
}

.newshome time {
	margin-bottom: -1.9em;
}

.newshome h2 {
	font-size: 225%;
	color: black;
}

.newshome img {
	align-items: flex-start;
	object-fit: cover;
	height: 15.6em;
}

.home_end>img {
	display: block;
}

main>a {
	font-family: 'capraiaitalic', serif;
}

ul:nth-of-type(2) {
	font-size: 1.3em;
	text-align: center;
	line-height: 1.8em;
	margin-bottom: 3.2em;
}

ul:nth-of-type(3) {
	text-align: center;
	line-height: 1.6em;
}

ul:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
	margin-right: 7%;
	margin-left: 7%;
	align-items: center;
}

ul:nth-of-type(1) img {
	display: flex;
	flex-direction: row;
	min-width: 100%;
	margin-bottom: 4em;
}

ul:nth-of-type(4) {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5em;
	justify-content: center;
	align-items: center;
	margin-left: 3em;
}

ul:nth-of-type(4) img {
	display: flex;
	width: 5.5em;
	padding-top: 2em;
	justify-self: center;
}

footer>img {
	display: flex;
	margin-bottom: 5em;
	padding-top: 4em;
}

.lijn_news img {
	position: relative;
	min-width: 430%;
}

.lijn_news {
	background-color: #ff989d;
	position: relative;
	overflow: hidden;
	z-index: -1;
}

.button {
	background-color: #5FCF5F;
	position: absolute;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.button a {
	color: black;
}

.am>img {
	display: block;
}

.am h2 {
	font-size: 3.5em;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
	line-height: 0.95em;
	margin-top: 0.4em;
}

.grid2>p {
	font-family: sans-serif;
	font-weight: 550;
	font-size: 1.02em;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0;
	line-height: 1.5em;
}

.am a {
	max-height: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.am ul {
	margin-left: 0;
	margin-right: 0;
	margin-top: 15%;
	margin-bottom: -1em;
	padding-left: 7%;
	padding-right: 7%;
}

h4 {
	font-family: 'capraiaitalic', serif;
	font-size: 145%;
	text-align: center;
	border-style: solid;
	padding-top: 1.4em;
	border-top-width: 0.1em;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-color: #5FCF5F;
	margin-left: 3.7%;
	margin-right: 3.7%;
	margin-top: 0.6em;
	margin-bottom: 1.7em;
}

.artiesten {
	display: flex;
	flex-direction: column;
}

.artiesten img {
	margin-left: 3.7%;
	margin-right: 3.7%;
	margin-bottom: 0;
}

.artiesten h3 {
	font-family: 'socialgothic', sans-serif;
	font-size: 220%;
	margin-left: 3.7%;
	margin-top: 0.1em;
}

footer p {
	color: white;
	background-color: black;
	font-family: 'capraiaitalic', serif;
	font-size: 70%;
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
}


.info {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	font-size: 85%;
	margin-left: 5.5em;
	margin-right: 5.5em;
	margin-top: 1.8em;
}

.info time {
	padding-top: 0;
	padding-bottom: 5.2%;
}

img[src="images/lijn2.svg"] {
	display: block;
	min-width: 250%;
}

img[src="images/a_svg.svg"] {
	display: block;
	min-width: 240%;
	margin-top: 0;
}

.svg2 {
	overflow: hidden;
	margin-top: 5em;
}

.svgtje {
	overflow: hidden;
}

.svgtje:nth-of-type(1) {
	display: none;
}

/* Voeg deze CSS-regels toe om het hamburgermenu boven de header te plaatsen */
header {
	position: fixed;
}

#menu-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
	display: none;
	justify-content: center;
	height: 1200%;
	z-index: 1000;
	/* Zorg ervoor dat het menu bovenop andere inhoud wordt weergegeven */
}

#menu-list>ul>li>a {
	color: white;
	font-family: 'socialgothic', sans-serif;
	font-size: 210%;
}

button {
	background-color: #cacaca;
	border-color: #cacaca;
	border-radius: 10em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	margin-top: 12em;
}

#menu-list ul {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 9em;
	margin-left: 0;
	line-height: 3em;
}

#menu-list.show-menu {
	display: flex;
}

#menu-toggle {
	cursor: pointer;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	z-index: 2000;
	/* Zorg ervoor dat het menu-toggle-element bovenop andere inhoud wordt weergegeven */
}

.bar {
	width: 1.5em;
	height: 0.15em;
	background-color: white;
	margin-top: 0.4em;
	margin-right: 0.4em;
}









/****************/
/*   DESKTOP    */
/****************/

@media only screen and (min-width: 481px) {

	img {
		max-width: 100%;
	}

	body {
		font-family: sans-serif;
		margin: 0;
		padding: 0;
	}

	header {
		background-color: black;
		color: white;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		z-index: 10000;
	}

	header li {
		display: contents;
	}

	header img {
		margin-top: -0.3em;
		margin-left: 10em;
		max-width: 15em;
	}

	header p {
		margin-left: 1.1em;
		font-size: 100%;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0.8em;
		margin-left: 1.8em;
	}

	header section h1 {
		font-size: 100%;
		display: flex;
		margin-right: 1.1em;
		margin-bottom: 0.6em;
		margin-left: 1.5em;
	}

	.hometext {
		background-color: #ff989d;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.hometext p {
		font-size: 160%;
		margin-left: 1.6em;
		margin-right: 1.5em;
		margin-bottom: 0;
		margin-top: 1em;
	}

	.homestart {
		display: grid;
		grid-template-columns: 2em 2em 16em 10em 1fr 10em 16em 2em 2em;
		grid-template-rows: 15.5em 7em 1.2em 2.4em 3.8em 15.6em;
		margin-top: 4.64em;
	}

	.homestart img {
		grid-column-start: 1;
		grid-column-end: 10;
		object-fit: cover;
		height: 45.5em;
	}

	.homestart h2 {
		font-size: 370%;
		text-align: center;
		grid-column-start: 4;
		grid-column-end: 7;
		grid-row-start: 2;
		grid-row-end: 3;
		color: white;
		line-height: 1em;
		margin-top: 0;
	}

	.homestart a {
		text-align: center;
		background-color: black;
		color: white;
		padding-left: 2.7em;
		padding-right: 2.7em;
		padding-top: 1em;
		font-weight: bold;
		font-size: 120%;
		grid-column-start: 5;
		grid-column-end: 6;
		grid-row-start: 5;
		grid-row-end: 6;
	}

	.homestart img:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		max-height: 0.8em;
	}

	.homestart img:nth-of-type(3) {
		grid-column-start: 8;
		grid-column-end: 9;
		grid-row-start: 3;
		grid-row-end: 4;
		max-height: 0.8em;
	}

	a {
		text-decoration: none;
	}

	iframe {
		display: block;
		margin: 0 auto;
		margin-top: 2em;
		margin-bottom: 4em;
		min-height: 24.8em;
		width: 49%;
	}

	footer {
		background-color: black;
		margin-top: 0;
		display: flex;
		flex-direction: column;
	}

	footer ul {
		margin: 0;
		padding: 0;
	}

	footer img {
		max-width: 40%;
		display: flex;
		align-self: center;
	}

	footer a {
		color: white;
		text-align: center;
	}

	time {
		font-family: 'capraiaitalic', serif;
		color: black;
	}

	li {
		list-style-type: none;
	}

	h2 {
		font-family: 'socialgothic', sans-serif;
	}

	h1 {
		font-family: 'capraiaitalic', serif;
	}

	h3 {
		font-family: 'capraiaitalic', serif;
		font-size: 160%;
		margin-left: 9%;
	}

	main>svg {
		margin-bottom: 0;
	}

	p {
		font-family: 'capraiaitalic', serif;
		margin-bottom: 2em;
		padding-top: 1em;
		margin-top: 0;
	}

	.nieuws {
		display: grid;
		grid-template-columns: 8em 1fr 1.5em 1fr 1.5em 1fr 8em;
		grid-template-rows: 32em;
	}

	.nieuws article:nth-of-type(1) {
		grid-column-start: 2;
	}

	.nieuws article:nth-of-type(2) {
		grid-column-start: 4;
	}

	.nieuws article:nth-of-type(3) {
		grid-column-start: 6;
	}

	.newshome a {
		display: flex;
		flex-direction: column;

		line-height: 2.3em;
	}

	.newshome time {
		margin-bottom: -1.9em;
	}

	.newshome h2 {
		font-size: 220%;
		color: black;
	}

	.newshome img {
		align-items: flex-start;
		object-fit: cover;
		height: 16em;
		width: 25em
	}

	.home_end>img {
		display: block;
		width: 50%;
		object-fit: cover;
	}

	.home_end {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: -5em;
	}

	.hometext>p:nth-of-type(2) {
		padding-bottom: 3em;
	}

	main>a {
		font-family: 'capraiaitalic', serif;
	}

	ul:nth-of-type(2) {
		font-size: 1.3em;
		text-align: center;
		line-height: 1.8em;
		margin-bottom: 3.2em;
	}

	ul:nth-of-type(3) {
		text-align: center;
		line-height: 1.6em;
	}

	ul:nth-of-type(1) {
		display: flex;
		justify-content: space-around;
		margin-right: 7%;
		margin-left: 7%;
		align-items: center;
	}

	ul:nth-of-type(1) img {
		display: flex;
		flex-direction: row;
		min-width: 100%;
		margin-bottom: 4em;
	}

	ul:nth-of-type(4) {
		display: flex;
		flex-wrap: wrap;
		margin-top: 5em;
		justify-content: center;
		align-items: center;
		margin-left: 3em;
	}

	ul:nth-of-type(4) img {
		display: flex;
		width: 5.5em;
		padding-top: 2em;
		justify-self: center;
	}

	footer>img {
		display: flex;
		margin-bottom: 5em;
		padding-top: 4em;
	}

	.lijn_news img {
		position: relative;
		min-width: 200%;
	}

	.lijn_news {
		background-color: #ff989d;
		position: relative;
		overflow: hidden;
	}

	main>img:nth-of-type(2) {
		min-width: 250%;
	}

	.button {
		background-color: #5FCF5F;
		padding-left: 0.4em;
		padding-right: 0.4em;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		position: absolute;
		top: 6em;
		left: 3em;
	}

	.button a {
		color: black;
	}

	.am>img {
		width: 45em;
		height: 28em;
		top: 13em;
		position: sticky;
		margin-left: 2em;
		margin-right: -1.5em;
		z-index: 0;
	}

	.am {
		display: flex;
		flex-direction: row;
		align-content: center;
		margin-top: 2.5em;
		margin-bottom: 10em;
	}

	.detailpagina .svgtje {
		transform: rotate(90deg);
	}

	.grid2 {
		display: flex;
		flex-direction: column;
		background-color: white;
		margin-right: 2.2em;
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 3.5em;
		margin-bottom: -10em;
	}

	.grid2 h2 {
		font-size: 550%;
		margin-bottom: -0.5em;
	}

	.grid2 iframe {
		width: 100%;
	}

	.detailpagina {
		display: flex;
		background-color: #5FCF5F;
	}

	h4 {
		font-family: 'capraiaitalic', serif;
		font-size: 160%;
		text-align: center;
		border-style: solid;
		padding-top: 1.4em;
		border-top-width: 0.1em;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		border-color: #5FCF5F;
		margin-left: 3.7%;
		margin-right: 3.7%;
		margin-top: 0.6em;
		margin-bottom: 1.7em;
	}

	footer p {
		color: white;
		background-color: black;
		font-family: 'capraiaitalic', serif;
		font-size: 70%;
		text-align: center;
		margin-top: 5em;
		margin-bottom: 5em;
	}


	.info {
		display: flex;
		flex-direction: row;
		text-align: center;
		justify-content: space-around;
		align-items: center;
		font-size: 100%;
		margin-left: 8em;
		margin-right: 8em;
		margin-top: 1.8em;
	}

	.info time {
		padding-top: 0;
		padding-bottom: 4.8%;
	}

	img[src="images/lijn2.svg"] {
		display: block;
		transform: rotate(95deg);
	}

	img[src="images/a_svg.svg"] {
		display: block;
		min-width: 125%;
	}

	.svg2 {
		overflow: hidden;
		margin-top: 5em;
	}

	.svgtje {
		overflow: hidden;
	}


	.grid2 .svgtje {
		float: right;
		clear: right;
		height: 100%;
		display: block;
		margin: 0 auto;
	}

	.bar {
		display: none;
	}

	#menu-list {
		display: flex;
		height: 0;
		background-color: transparent;
		justify-content: flex-end;
		margin-top: -6.5em;
	}

	#menu-list ul {
		flex-direction: row;
	}

	#menu-list li {
		font-size: 40%;
	}

	#menu-list a {
		font-family: sans-serif !important;
		margin-left: 1.3em;
	}

	button {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 0;
		margin-left: 1.5em;
		font-size: 200%;
		font-weight: 600;
		margin-right: -5em;
		border: none;
	}

	.artiesten {
		display: grid;
		grid-template-columns: 18em 2em 18em;
		grid-template-rows: 10em 9em 10em 9em 10em 9em;
		justify-content: center;
		margin-left: -1em;
	}

	.artiesten>img:nth-of-type(1) {
		grid-row-start: 1;
		grid-row-end: 2;
		max-width: 100%;
	}

	.artiesten>img:nth-of-type(2) {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 3;
		grid-column-end: 4;
		max-width: 100%;
	}

	.artiesten>img:nth-of-type(3) {
		grid-row-start: 3;
		grid-row-end: 4;
		max-width: 100%;
	}

	.artiesten>img:nth-of-type(4) {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 3;
		grid-column-end: 4;
		max-width: 100%;
	}

	.artiesten>img:nth-of-type(5) {
		grid-row-start: 5;
		grid-row-end: 6;
		max-width: 100%;
	}

	.artiesten>h3:nth-of-type(1) {
		grid-row-start: 2;
	}

	.artiesten>h3:nth-of-type(2) {
		grid-row-start: 2;
		grid-column-start: 3;
	}

	.artiesten>h3:nth-of-type(3) {
		grid-row-start: 4;
		grid-row-end: 5;
	}

	.artiesten>h3:nth-of-type(4) {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 3;
		grid-column-end: 4;
	}

	.artiesten>h3:nth-of-type(5) {
		grid-row-start: 6;
		grid-row-end: 7;

	}

	.artiesten h3 {
		font-family: 'socialgothic', sans-serif;
		font-size: 220%;
		margin-left: 0.3em;
		margin-top: 1em;
	}

}